@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2E382E;
  background: url(http://wallpapercave.com/wp/8cEpZrx.jpg) no-repeat center center fixed;
  background-size: cover;
}

.links {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Baloo Tammudu';
  margin-top: 2em;
  font-size: 1.6em;
  text-decoration: none;
}

.title {
  margin-top: 6em;
}

.h1 {
  font-size: 3em;
  font-family: 'Baloo Tammudu';
}

.video {
  width: 50%;
}

.embed {
  display: flex;
  justify-content: center;
  margin-top: 1.4em;
}

.loader {
  margin-top: 15em;
}

.img {
  margin-top: 2em;
}

.h2 {
  font-family: 'Baloo Tammudu';
  font-size: 1.5em;
}

.message {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.spaceStation {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.info {
  font-family: 'Baloo Tammudu';
  font-size: 1em;
}
